.app {
  text-align: center;
}

.star {
  margin: 10px;
  font-size: 50px; 
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.on {
  color: black;
}

.off {
  color: gray;
}